+ Caminade Adrien
+ Marcu Quentin
+ Bouzidi Laura
<center><h1>
 Insertion en Bd</h1>
</center>

### Import package

In [1]:
import pyodbc
import json
import os
import ast
from tqdm import tqdm_notebook

### Connect to database

In [2]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=localhost\SQLEXPRESS02;'
                      'Database=master;'
                      'Trusted_Connection=yes;')

### Chemin des fichiers

In [3]:
path = "C:/Users/theca/Documents/TablodeBordM1/Tableaux_De_Bord_Deforestation/Data/Clean_Articles_PMC"
dirs = os.listdir(path)

### Table Articles

In [4]:
for file in dirs:
    article = open(path + "/" + file, 'r', encoding='utf-8')
    json = article.read()
    json = ast.literal_eval(json)
    # Insertion article
    id_article = json["id"]
    titre_article = json["title"]
    date_article = json["date"]
    sentiment_article = json["feeling"]
    titre_article = titre_article.replace("'", " ")
    if len(date_article) > 5:
        date_article = date_article[-4:]
    insert_article = conn.cursor()
    insert_article.execute("Insert Into master.dbo.Articles Values ('" + str(id_article) + "','" + str(titre_article) + "'," + str(date_article) + "," + str(sentiment_article) + ");")
    #insert_article.execute("Insert Into master.dbo.Articles Values ('" + str(id_article) + "'," + str(date_article) + "," + str(sentiment_article) + ");")
    conn.commit()

### Table Comporte

In [ ]:
for file in dirs:
    article = open(path + "/" + file, 'r', encoding='utf-8')
    json = article.read()
    json = ast.literal_eval(json)
    # Insertion comporte
    id_article = json["id"]
    for word in json['key']:
        get_id_key = conn.cursor()
        get_id_key.execute("Select Id_mot from master.dbo.Mots_clefs where mot = '" + str(word) + "';")
        code = get_id_author.fetchone()
        code = str(code).replace(", )","")
        code = str(code).replace("(","")
        insert_key_word = conn.cursor()
        insert_key_word.execute("Insert Into master.dbo.Comporte Values ('" + str(id_article) + "','" + str(code) + "');")
        conn.commit()

### Table Concerne

In [ ]:
for file in dirs:
    article = open(path + "/" + file, 'r', encoding='utf-8')
    json = article.read()
    json = ast.literal_eval(json)
    # Insertion concerne
    id_article = json["id"]
    for country in json['country_quoted']:
        get_id_country = conn.cursor()
        get_id_country.execute("Select Id_pays from master.dbo.Pays where nom_pays = '" + str(country) + "';")
        code = get_id_author.fetchone()
        code = str(code).replace(", )","")
        code = str(code).replace("(","")
        insert_country = conn.cursor()
        insert_country.execute("Insert Into master.dbo.Concerne Values ('" + str(id_article) + "','" + str(code) + "');")
        conn.commit()

### Table Origine

In [ ]:
for file in dirs:
    article = open(path + "/" + file, 'r', encoding='utf-8')
    json = article.read()
    json = ast.literal_eval(json)
    # Insertion origine
    id_article = json["id"]
    for country in json['country']:
        get_id_country = conn.cursor()
        get_id_country.execute("Select Id_pays from master.dbo.Pays where nom_pays = '" + str(country) + "';")
        code = get_id_author.fetchone()
        code = str(code).replace(", )","")
        code = str(code).replace("(","")
        insert_country = conn.cursor()
        insert_country.execute("Insert Into master.dbo.origine Values ('" + str(id_article) + "','" + str(code) + "');")
        conn.commit()

### Table Ecrit

In [ ]:
from tqdm import tqdm_notebook

In [ ]:
list_article = []
list_auteur = []
for file in tqdm_notebook(dirs):
    article = open(path + "/" + file, 'r', encoding='ANSI')
    json = article.read()
    json = ast.literal_eval(json)
    # Insertion ecrit
    id_article = json["id"]
    for author in json['author']:
        author = author.replace("'", "")
        get_id_author = conn.cursor()
        get_id_author.execute("Select Id_auteur from master.dbo.Auteurs where nom_auteur = '" + str(author) + "';")
        code = get_id_author.fetchone()
        code = str(code).replace(", )","")
        code = str(code).replace("(","")
        list_article.append(id_article)
        list_auteur.append(code)

In [ ]:
for i in tqdm_notebook(range (len(list_article))) :
    insert_author = conn.cursor()
    if list_auteur != "None":
        insert_author.execute("Insert Into master.dbo.Ecrit Values ('" + str(list_article[i]) + "','" + str(list_auteur[i]) + "');")
        conn.commit()